:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --blue-color: #2196f3;
  --white-color: #fff;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.address{
  font-style: normal;
}
/* оформляємо header */
/* logo */

.logo-blue {
  /* position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px; */

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height*/

  letter-spacing: 0.03em;

  color: #2196f3;
}

.logo-black {
  color: #000000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-white {
  color: #fff;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.menu {
  font-family: 'Roboto';

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: #212121;

}

.active{
  color: var(--blue-color);
}

.menu:hover,
.menu:focus {
  color: var(--blue-color);
}

.cell {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.cell:hover,
.cell:focus {
  color: var(--blue-color);
}

.cell-2 {
  /* color: var(--secondary-text-color); */
  color:rgba(255, 255, 255, 0.6);

  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
}

.cell-2:hover,
.cell-2:focus {
  color: var(--blue-color);
}

.web-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.web-link:hover,
.web-link:focus {
  color: var(--blue-color);
}

.web-link-2 {
  /* color: var(--secondary-text-color); */
  color:rgba(255, 255, 255, 0.6);
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
}
.web-link-2:hover,
.web-link-2:focus {
  color: var(--blue-color);
}

.place {
  
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--white-color);
}

/*HERO*/

.hero {
  background-color:  #2F303A;;
}

h1 {

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;


  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
h2 {

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  /* text-align: center; */
  letter-spacing: 0.03em;

  color: #212121;

}

h3 {

  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;


  color: #212121;
}



p {
  

  font-size: 16px;
  line-height: 1.7;
 

  letter-spacing: 0.03em;

  color: #757575;
  
}

.about-us {
  /* font-family: 'Roboto'; */
  
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}

section.about-us ul > li > p{
  font-size: 14px;
  line-height: 1.7;
}

.button-list {
  color: var(--primary-text-color);
  /* font-family: 'Roboto'; */

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  background: #f5f4fa;
  border-radius: 4px;
  text-decoration: none;
  border: 0px;
  cursor: pointer;
}

.button-list:hover,
.button-list:focus {
  background: var(--blue-color);
}

.button-list > a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.button-list:hover,
.button-list:focus {
  color: var(--white-color);
}

.button-1 {
  background-color: var(--blue-color);
  color: var(--white-color);
  /* font-family: 'Roboto'; */
 
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.button-1 > a {
  color: var(--white-color);
  text-decoration: none;
}

/* work-list */
.work-list > li > h2 {
  /* font-family: 'Roboto'; */
 
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

/* footer */
.footer {
  background-color: #2F303A;;
}
